<!--# layout("/common/layout.html",{"jsBase":"/js/cms/quotePrice/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="报价日期">报价日期</label>
            <div class="layui-input-inline">
                <input type="text" name="quoteDate" class="layui-input input-date" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" name="code" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" name="price" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="报价人">报价人</label>
            <div class="layui-input-inline">
                <input type="text" name="quoteBy" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>


    <div class="layui-row">
        <div class="layui-form-item">

            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="remarks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var quotePriceAdd = layui.add
    quotePriceAdd.init();
});
</script>
