<!--# layout("/common/layout.html",{"jsBase":"/js/cms/quotePrice/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="报价日期">报价日期</label>
            <div class="layui-input-inline">
                <input type="text" id="quoteDate" name="quoteDate"  value="${quotePrice.quoteDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${quotePrice.code}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price"  value="${quotePrice.price}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="报价人">报价人</label>
            <div class="layui-input-inline">
                <input type="text" id="quoteBy" name="quoteBy"  value="${quotePrice.quoteBy}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" id="remarks" name="remarks"  value="${quotePrice.remarks}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="quoteId" value=${quotePrice.quoteId} />
    <input type="hidden" name="del" value=${quotePrice.del} />
    <input type="hidden" name="updatedBy" value="${quotePrice.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${quotePrice.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${quotePrice.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${quotePrice.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var quotePriceEdit = layui.edit
    quotePriceEdit.init();
});
</script>
