<!--# layout("/common/layout.html",{"jsBase":"/js/cms/salesOrder/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" name="code" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" name="number" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" name="price" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="客户编码">客户编码</label>
            <div class="layui-input-inline">
                <input type="text" name="clientId" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="销售日期">销售日期</label>
            <div class="layui-input-inline">
                <input type="text" name="salesDate" class="layui-input input-date" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="付款金额">付款金额</label>
            <div class="layui-input-inline">
                <input type="text" name="paymentAmount" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="销售人">销售人</label>
            <div class="layui-input-inline">
                <input type="text" name="salesBy" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="付款方式（0：支付宝 1：微信 2：银行卡）">付款方式（0：支付宝 1：微信 2：银行卡）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_paymentmethod" layVerify="" 
                			id="paymentMethod" name="paymentMethod" value="" />
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="交货地点">交货地点</label>
            <div class="layui-input-inline">
                <input type="text" name="tradeLocations" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="销售方式">销售方式</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_orderfor" layVerify="" 
                			id="orderFor" name="orderFor" value="" />
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="完成状态（0：完成 1：未完成）">完成状态（0：完成 1：未完成）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_finishedstatus" layVerify="" 
                			id="finishedStatus" name="finishedStatus" value="" />
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="审核人">审核人</label>
            <div class="layui-input-inline">
                <input type="text" name="checkBy" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="审核状态">审核状态</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_checkstatus" layVerify="" 
                			id="checkStatus" name="checkStatus" value="" />
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="审核日期">审核日期</label>
            <div class="layui-input-inline">
                <input type="text" name="checkDate" class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="remarks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var salesOrderAdd = layui.add
    salesOrderAdd.init();
});
</script>
