<!--# layout("/common/layout.html",{"jsBase":"/js/cms/salesOrder/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="绘本编码">绘本编码</label>
                <div class="layui-input-inline">
                    <input type="text" name=""  value="${salesOrder.salesId}"   class="layui-input" disabled="disabled"style="background-color: #F6F6F6" placeholder="后台代码自动生成">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${salesOrder.code}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number"  value="${salesOrder.number}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price"  value="${salesOrder.price}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="客户编码">客户编码</label>
            <div class="layui-input-inline">
                <input type="text" id="clientId" name="clientId"  value="${salesOrder.clientId}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="销售日期">销售日期</label>
            <div class="layui-input-inline">
                <input type="text" id="salesDate" name="salesDate"  value="${salesOrder.salesDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="付款金额">付款金额</label>
            <div class="layui-input-inline">
                <input type="text" id="paymentAmount" name="paymentAmount"  value="${salesOrder.paymentAmount}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="销售人">销售人</label>
            <div class="layui-input-inline">
                <input type="text" id="salesBy" name="salesBy"  value="${salesOrder.salesBy}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="付款方式（0：支付宝 1：微信 2：银行卡）">付款方式（0：支付宝 1：微信 2：银行卡）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_paymentmethod" 
					id="paymentMethod" name="paymentMethod" value="${salesOrder.paymentMethod}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="交货地点">交货地点</label>
            <div class="layui-input-inline">
                <input type="text" id="tradeLocations" name="tradeLocations"  value="${salesOrder.tradeLocations}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="销售方式">销售方式</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_orderfor" 
					id="orderFor" name="orderFor" value="${salesOrder.orderFor}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="完成状态（0：完成 1：未完成）">完成状态（0：完成 1：未完成）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_finishedstatus" 
					id="finishedStatus" name="finishedStatus" value="${salesOrder.finishedStatus}" layVerify="" />
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="审核人">审核人</label>
            <div class="layui-input-inline">
                <input type="text" id="checkBy" name="checkBy"  value="${salesOrder.checkBy}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="审核状态">审核状态</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_checkstatus" 
					id="checkStatus" name="checkStatus" value="${salesOrder.checkStatus}" layVerify="" />
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="审核日期">审核日期</label>
            <div class="layui-input-inline">
                <input type="text" id="checkDate" name="checkDate"  value="${salesOrder.checkDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" id="remarks" name="remarks"  value="${salesOrder.remarks}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="salesId" value=${salesOrder.salesId} />
    <input type="hidden" name="del" value=${salesOrder.del} />
    <input type="hidden" name="updatedBy" value="${salesOrder.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${salesOrder.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${salesOrder.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${salesOrder.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var salesOrderEdit = layui.edit
    salesOrderEdit.init();
});
</script>
