<!--# layout("/common/layout.html",{"jsBase":"/js/cms/supplieInfor/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label" title="供货商编码">供货商编码</label>
                <div class="layui-input-inline">
                    <input type="text" name="supplierId" class="layui-input" disabled="disabled" style="background-color: #F6F6F6" placeholder="后台系统自动生成">
                </div>
            </div>
		
            <div class="layui-inline">
            <label class="layui-form-label" title="供货商名称">供货商名称</label>
            <div class="layui-input-inline">
                <input type="text" name="supplierName" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="供应图书种类">供应图书种类</label>
            <div class="layui-input-inline">
                <input type="text" name="books" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="职务">职务</label>
            <div class="layui-input-inline">
                <input type="text" name="position" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="地址">地址</label>
            <div class="layui-input-inline">
                <input type="text" name="address" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="城市">城市</label>
            <div class="layui-input-inline">
                <input type="text" name="city" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="邮编">邮编</label>
            <div class="layui-input-inline">
                <input type="text" name="postcode" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="省份">省份</label>
            <div class="layui-input-inline">
                <input type="text" name="couty" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="电话">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="tel" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="开户银行">开户银行</label>
            <div class="layui-input-inline">
                <input type="text" name="depositBank" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="银行账号">银行账号</label>
            <div class="layui-input-inline">
                <input type="text" name="bankAccount" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="邮箱">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="remarks" class="layui-input" >
                </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var supplieInforAdd = layui.add
    supplieInforAdd.init();
});
</script>
