<!--#layout("/common/layout.html",{"jsBase":"/js/cms/supplieInfor/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="supplieInfor.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="supplieInfor.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="supplieInfor.del"  action="del">删除</layui:accessButton>
     <layui:accessButton function="supplieInfor.exportDocument"  action="exportDocument">导出</layui:accessButton>
     <layui:accessButton function="supplieInfor.importDocument"  action="importDocument">导入</layui:accessButton>
</div>

<table id="supplieInforTable" lay-filter="supplieInforTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
