<!--#layout("/common/layout.html",{"jsBase":"/js/cms/wareHouse/"}){ -->

<table id="wareHouseTable" lay-filter="wareHouseTable">

</table>
<!--#} -->
<script>

layui.use(['table'], function(){
    var table = layui.table;
    table.render({
        elem : '#wareHouseTable',
        height : Lib.getTableHeight(1),
        method : 'post',
        url : Common.ctxPath + '/cms/productInfor/statistics.json' // 数据接口
        ,page : false // 开启分页
        ,cols : [ [ // 表头
            // {
            //     type : 'checkbox',
            //     fixed:'left'
            // },
            {
                field : 'wareId',
                title : '仓库系统编码'
            },
            {
                field : 'kinds', //数据字典类型为 product_infor_kinds
                title : '读者对象'
            },
            {
                field : 'existStocks',
                title : '现有库存'
                ,templet:function(d){
                    return d.existStocks.split(".")[0];
                }
            },
            {
                field : 'supplierId',
                title : '最后一次操作人'
            },
            {
                field : 'updatedTime',
                title : '最后一次操作时间'
                ,templet:function(d){
                    return Common.getDate(d.updatedTime,'yyyy-MM-dd');
                }
            },


        ] ]

    });
});

</script>
