<!--# layout("/common/layout.html",{"jsBase":"/js/cms/salesReturn/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <blockquote class="layui-elem-quote">
        基本信息
    </blockquote>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="订单单号">订单单号</label>
            <div class="layui-input-inline">
                <input type="text" id="salesId" name="salesId"  value="${salesReturn.salesId}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="退货日期">退货日期</label>
            <div class="layui-input-inline">
                <input type="text" id="returnDate" name="returnDate"  value="${salesReturn.returnDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${salesReturn.code}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number"  value="${salesReturn.number}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price"  value="${salesReturn.price}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="客户编码">客户编码</label>
            <div class="layui-input-inline">
                <input type="text" id="clientId" name="clientId"  value="${salesReturn.clientId}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="付款金额">付款金额</label>
            <div class="layui-input-inline">
                <input type="text" id="paymentAmount" name="paymentAmount"  value="${salesReturn.paymentAmount}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="销售人">销售人</label>
            <div class="layui-input-inline">
                <input type="text" id="salesBy" name="salesBy"  value="${salesReturn.salesBy}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <blockquote class="layui-elem-quote">
        审核
    </blockquote>
    <div class="layui-row">
        <div class="layui-form-item">
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label" title="审核时间">审核时间</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="checkDate" name="checkDate"  value="${salesReturn.checkDate,"yyyy-MM-dd"}"   class="layui-input input-date" >-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline">
                <label class="layui-form-label" title="审核状态">审核状态</label>

                <div class="layui-input-inline">
                    <layui:simpleDictSelect style='layui-input-inline' type="sales_return_status"
                                            id="stats" name="stats" value="${salesReturn.stats}" layVerify="" />
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label" title="审核人">审核人</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="checkBy" name="checkBy"  value="${salesReturn.checkBy}"   class="layui-input" >-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="remarks"  value="${salesReturn.remarks}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="returnId" value=${salesReturn.returnId} />
    <input type="hidden" name="del" value=${salesReturn.del} />
    <input type="hidden" name="updatedBy" value="${salesReturn.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${salesReturn.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${salesReturn.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${salesReturn.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['audio'], function(){
    var audio = layui.audio
    audio.init();
});
</script>
