<!--#layout("/common/layout.html",{"jsBase":"/js/cms/salesReturn/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="salesReturn.audio"  action="audio">审核</layui:accessButton>
    <layui:accessButton function="salesReturn.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="salesReturn.edit"  action="edit">编辑</layui:accessButton>
    <!--<layui:accessButton function="salesReturn.del"  action="del">删除</layui:accessButton>-->
     <layui:accessButton function="salesReturn.exportDocument"  action="exportDocument">导出</layui:accessButton>
     <layui:accessButton function="salesReturn.importDocument"  action="importDocument">导入</layui:accessButton>
</div>

<table id="salesReturnTable" lay-filter="salesReturnTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index;
    index.init();
});

</script>
