<!--# layout("/common/layout.html",{"jsBase":"/js/cms/productInfor/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本名称（奖项+名称）">绘本名称（奖项+名称）</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="外文名字">外文名字</label>
            <div class="layui-input-inline">
                <input type="text" name="foreignName" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="读者对象">读者对象</label>
            <div class="layui-input-inline">
                <input type="text" name="kinds" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="开本">开本</label>
            <div class="layui-input-inline">
                <input type="text" name="format" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="页数">页数</label>
            <div class="layui-input-inline">
                <input type="text" name="pages" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="商品尺寸">商品尺寸</label>
            <div class="layui-input-inline">
                <input type="text" name="size" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="商品重量">商品重量</label>
            <div class="layui-input-inline">
                <input type="text" name="weight" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="品牌">品牌</label>
            <div class="layui-input-inline">
                <input type="text" name="brand" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="用户评分">用户评分</label>
            <div class="layui-input-inline">
                <input type="text" name="score" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="热销商品排名">热销商品排名</label>
            <div class="layui-input-inline">
                <input type="text" name="rank" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="仓库系统编码">仓库系统编码</label>
            <div class="layui-input-inline">
                <input type="text" name="wareId" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="供应商编码">供应商编码</label>
            <div class="layui-input-inline">
                <input type="text" name="supplierId" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="入库单价">入库单价</label>
            <div class="layui-input-inline">
                <input type="text" name="inPrice" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="出库单价">出库单价</label>
            <div class="layui-input-inline">
                <input type="text" name="outPrice" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="现有库存">现有库存</label>
            <div class="layui-input-inline">
                <input type="text" name="existStocks" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="最小库存">最小库存</label>
            <div class="layui-input-inline">
                <input type="text" name="minStocks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="最大库存">最大库存</label>
            <div class="layui-input-inline">
                <input type="text" name="maxStocks" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="出版社">出版社</label>
            <div class="layui-input-inline">
                <input type="text" name="publishHouse" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="创建人">创建人</label>
            <div class="layui-input-inline">
                <input type="text" name="createdBy" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="创建时间">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="createdTime" class="layui-input input-date" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="修改人">修改人</label>
            <div class="layui-input-inline">
                <input type="text" name="updatedBy" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="修改时间">修改时间</label>
            <div class="layui-input-inline">
                <input type="text" name="updatedTime" class="layui-input input-date" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="删除标志位（0：存在 1：删除）">删除标志位（0：存在 1：删除）</label>
            <div class="layui-input-inline">
                <input type="text" name="del" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="remarks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var productInforAdd = layui.add
    productInforAdd.init();
});
</script>
