<!--# layout("/common/layout.html",{"jsBase":"/js/cms/productInfor/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码isbn">绘本编码isbn</label>
            <div class="layui-input-inline">
                <input type="text" name="code" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本名称">绘本名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label" title="图片">图片</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="picture" class="layui-input" >-->
            <!--</div>-->
            <!--</div>-->
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="作者">作者</label>
            <div class="layui-input-inline">
                <input type="text" name="author" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="语种">语种</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="product_infor_language" layVerify="" 
                			id="language" name="language" value="" />
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="读者对象">读者对象</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="product_infor_kinds" layVerify="" 
                			id="kinds" name="kinds" value="" />
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="图书分类">图书分类</label>
            <div class="layui-input-inline">
                <input type="text" name="bookKind" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="出版社">出版社</label>
            <div class="layui-input-inline">
                <input type="text" name="publishHouse" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="出版日期">出版日期</label>
            <div class="layui-input-inline">
                <input type="text" name="publishDate" class="layui-input input-date" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="简介">简介</label>
            <div class="layui-input-inline">
                <input type="text" name="introduction" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="是否是套装">是否是套装</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="product_infor_score" layVerify="" 
                			id="score" name="score" value="" />
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="套装册数">套装册数</label>
                <div class="layui-input-inline">
                    <input type="text" name="productNum" class="layui-input" >
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="仓库系统编码">仓库系统编码</label>
            <div class="layui-input-inline">
                <input type="text" name="wareId" class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="供应商编码">供应商编码</label>
            <div class="layui-input-inline">
                <input type="text" name="supplierId" class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="入库单价">入库单价</label>
            <div class="layui-input-inline">
                <input type="text" name="inPrice" class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="出库单价">出库单价</label>
            <div class="layui-input-inline">
                <input type="text" name="outPrice" class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="现有库存">现有库存</label>
            <div class="layui-input-inline">
                <input type="text" name="existStocks" class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="最小库存">最小库存</label>
            <div class="layui-input-inline">
                <input type="text" name="minStocks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="最大库存">最大库存</label>
            <div class="layui-input-inline">
                <input type="text" name="maxStocks" class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="remarks" class="layui-input" >
                </div>
            </div>
        </div>
    </div>

    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var productInforAdd = layui.add
    productInforAdd.init();
});
</script>
