<!--# layout("/common/layout.html",{"jsBase":"/js/cms/productInfor/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码isbn">绘本编码isbn</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${productInfor.code}"   class="layui-input" disabled="disabled"style="background-color: #F6F6F6">
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本名称">绘本名称</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name"  value="${productInfor.name}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="作者">作者</label>
            <div class="layui-input-inline">
                <input type="text" id="author" name="author"  value="${productInfor.author}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="语种">语种</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="product_infor_language" 
					id="language" name="language" value="${productInfor.language}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="读者对象">读者对象</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="product_infor_kinds" 
					id="kinds" name="kinds" value="${productInfor.kinds}" layVerify="" />
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="出版社">出版社</label>
            <div class="layui-input-inline">
                <input type="text" id="publishHouse" name="publishHouse"  value="${productInfor.publishHouse}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="出版日期">出版日期</label>
            <div class="layui-input-inline">
                <input type="text" id="publishDate" name="publishDate"  value="${productInfor.publishDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="品牌">品牌</label>
            <div class="layui-input-inline">
                <input type="text" id="brand" name="brand"  value="${productInfor.brand}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="是否是套装">是否是套装</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="product_infor_score" 
					id="score" name="score" value="${productInfor.score}" layVerify="" />
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="套装册数">套装册数</label>
                <div class="layui-input-inline">
                    <input type="text" id="productNum" name="productNum"  value="${productInfor.productNum}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="热销商品排名">热销商品排名</label>
            <div class="layui-input-inline">
                <input type="text" id="rank" name="rank"  value="${productInfor.rank}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="仓库系统编码">仓库系统编码</label>
            <div class="layui-input-inline">
                <input type="text" id="wareId" name="wareId"  value="${productInfor.wareId}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="供应商编码">供应商编码</label>
            <div class="layui-input-inline">
                <input type="text" id="supplierId" name="supplierId"  value="${productInfor.supplierId}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="入库单价">入库单价</label>
            <div class="layui-input-inline">
                <input type="text" id="inPrice" name="inPrice"  value="${productInfor.inPrice}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="出库单价">出库单价</label>
            <div class="layui-input-inline">
                <input type="text" id="outPrice" name="outPrice"  value="${productInfor.outPrice}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="现有库存">现有库存</label>
            <div class="layui-input-inline">
                <input type="text" id="existStocks" name="existStocks"  value="${productInfor.existStocks}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="最小库存">最小库存</label>
            <div class="layui-input-inline">
                <input type="text" id="minStocks" name="minStocks"  value="${productInfor.minStocks}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="最大库存">最大库存</label>
            <div class="layui-input-inline">
                <input type="text" id="maxStocks" name="maxStocks"  value="${productInfor.maxStocks}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="remarks"  value="${productInfor.remarks}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value=${productInfor.id} />
    <input type="hidden" name="del" value=${productInfor.del} />
    <input type="hidden" name="updatedBy" value="${productInfor.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${productInfor.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${productInfor.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${productInfor.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var productInforEdit = layui.edit
    productInforEdit.init();
});
</script>
