<!--# layout("/common/layout.html",{"jsBase":"/js/cms/productInfor/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="绘本编码isbn">绘本编码isbn</label>
                <div class="layui-input-inline">
                    <input type="text" id="code" name="code"  value="${productInfor.code}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="绘本名称">绘本名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name"  value="${productInfor.name}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="简介">简介</label>
                <div class="layui-input-inline">
                    <textarea id="introduction" name="introduction"  class="layui-textarea"  style="width: 512px;">${productInfor.introduction}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-upload">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="pictureUrl" src="${productInfor.pictureUrl}" alt="" style="width: 13.5em;height: 13.5em;"/>
                    <p id="productImgText"></p>
                </div>
                <button type="button" class="layui-btn" id="productImageBtn" style="width: 13.5em;">上传图片</button>
            </div>
            <input type="text" id="picture" name="picture" hidden="true" lay-verify="imgVerify" value="${productInfor.picture}">
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="作者">作者</label>
                <div class="layui-input-inline">
                    <input type="text" id="author" name="author"  value="${productInfor.author}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="语种">语种</label>
                <div class="layui-input-inline">
                    <layui:simpleDictSelect style='layui-input-inline' type="product_infor_language"
                                            id="language" name="language" value="${productInfor.language}" layVerify="" />
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="读者对象">读者对象</label>
                <div class="layui-input-inline">
                    <layui:simpleDictSelect style='layui-input-inline' type="product_infor_kinds"
                                            id="kinds" name="kinds" value="${productInfor.kinds}" layVerify="" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="图书分类">图书分类</label>
                <div class="layui-input-inline">
                    <input type="text" id="bookKind" name="bookKind"  value="${productInfor.bookKind}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="出版社">出版社</label>
                <div class="layui-input-inline">
                    <input type="text" id="publishHouse" name="publishHouse"  value="${productInfor.publishHouse}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="出版日期">出版日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="publishDate" name="publishDate"  value="${productInfor.publishDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="是否是套装">是否是套装</label>
                <div class="layui-input-inline">
                    <layui:simpleDictSelect style='layui-input-inline' type="product_infor_score"
                                            id="score" name="score" value="${productInfor.score}" layVerify="" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="套装册数">套装册数</label>
                <div class="layui-input-inline">
                    <input type="text" id="productNum" name="productNum"  value="${productInfor.productNum}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="仓库系统编码">仓库系统编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="wareId" name="wareId"  value="${productInfor.wareId}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="供应商编码">供应商编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="supplierId" name="supplierId"  value="${productInfor.supplierId}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="入库单价">入库单价</label>
                <div class="layui-input-inline">
                    <input type="text" id="inPrice" name="inPrice"  value="${productInfor.inPrice}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="出库单价">出库单价</label>
                <div class="layui-input-inline">
                    <input type="text" id="outPrice" name="outPrice"  value="${productInfor.outPrice}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="现有库存">现有库存</label>
                <div class="layui-input-inline">
                    <input type="text" id="existStocks" name="existStocks"  value="${productInfor.existStocks}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="最小库存">最小库存</label>
                <div class="layui-input-inline">
                    <input type="text" id="minStocks" name="minStocks"  value="${productInfor.minStocks}"   class="layui-input" >
                </div>
            </div>
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label" title="最大库存">最大库存</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="maxStocks" name="maxStocks"  value="${productInfor.maxStocks}"   class="layui-input" >-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="remarks"  value="${productInfor.remarks}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value=${productInfor.id} />
    <input type="hidden" name="del" value=${productInfor.del} />
    <input type="hidden" name="updatedBy" value="${productInfor.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${productInfor.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${productInfor.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${productInfor.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
    layui.use(['edit'], function(){
        var productInforEdit = layui.edit
        productInforEdit.init();
    });

    layui.use('form', function(){
        var form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
        form.verify({
            imgVerify: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!value){
                    return '请上传图片';
                }
            }
        });
    });

    layui.use('upload', function(){
        var upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#productImageBtn'
            ,url: '/upload/uploadImage.json'
            ,data: {"bizType":"ProductInfo"}
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#pictureUrl').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    //演示失败状态，并实现重传
                    var posImgText = $('#productImgText');
                    posImgText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    posImgText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                    return layer.msg('上传失败');
                }else{
                    $("#picture").val(res.data.bizId);
                    return layer.msg('上传成功');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var posImgText = $('#productImgText');
                posImgText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                posImgText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });

</script>
