<!--#layout("/common/layout.html",{"jsBase":"/js/cms/productInfor/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="" action="getInfo">查看详情</layui:accessButton>
    <layui:accessButton function="" action="purchase">购买</layui:accessButton>
</div>

<table id="productInforTable" lay-filter="productInforTable"></table>
<!--#} -->
<script>

    layui.use(['productInforIndex'], function(){
        var productInforIndex = layui.productInforIndex;
        productInforIndex.init();
    });

</script>
