<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="${ctxPath}/plugins/layui/css/layui.css">
    <script src="${ctxPath}/plugins/layui/layui.js"></script>
    <script src="${ctxPath}/js/lib.js"></script>
    <script src="${ctxPath}/js/common.js"></script>

</head>
<body>
    <div style="margin: 15px" id="payContent">
        <form class="layui-form layui-form-pane" id="addForm">
            <div class="layui-row">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">绘本名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" class="layui-input" disabled value="名称" style="width: 520px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">单价（元）</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" class="layui-input" disabled value="100">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" class="layui-input" value="" placeholder="请输入数量，最少为1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">销售方式</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="orderFor" value="0" title="直销" checked="">
                            <input type="radio" name="orderFor" value="1" title="代销">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">应付金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="shouldPrice" class="layui-input" value="" disabled>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">实付金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="realityPrice" class="layui-input" value="" disabled>
                        </div>
                        <span style="color: red">选择代销方式优惠 5% ！</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="margin: 30px">
        <table id="productInforIndexTable" lay-filter="productInforIndexTable"></table>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="findDetailInfo">详     情</a>
        <a class="layui-btn layui-btn-xs" lay-event="purchase">购     买</a>
    </script>
</body>
    <script>
        layui.use([ 'table','layer','jquery'], function() {
            var table = layui.table;
            var $ = layui.jquery;
            table.render({
                elem : '#productInforIndexTable',
                height : Lib.getTableHeight(1),
                method : 'post',
                url : '/cms/productInfor/productInforIndexList.json' // 数据接口
                ,page : Lib.tablePage // 开启分页
                ,limit : 10,
                cols : [ [ // 表头
                    {
                        field : 'name',
                        title : '绘本名称',
                    },
                    {
                        field : 'outPrice',
                        title : '单价（元）',
                    },
                    {
                        field : 'picture',
                        title : '图片',
                        templet: '<div><img src="{{d.pictureUrl}}"></div>'
                    },
                    {
                        field : 'author',
                        title : '作者'
                    },
                    {
                        field : 'languageText', //数据字典类型为 product_infor_language
                        title : '语种'
                    },
                    {
                        field : 'kindsText', //数据字典类型为 product_infor_kinds
                        title : '推荐读者对象'
                    },
                    {
                        field : 'bookKind',
                        title : '图书分类'
                    },
                    {
                        field : 'publishHouse',
                        title : '出版社'
                    },
                    {
                        field : 'publishDate',
                        title : '出版日期'
                    },
                    {
                        field : '购买',
                        title : '操作',
                        toolbar : '#barDemo',
                        style:'cursor: pointer;'
                    }
                    // {
                    //     field : 'scoreText', //数据字典类型为 product_infor_score
                    //     title : '是否是套装'
                    // },
                    // {
                    //     field : 'productNum',
                    //     title : '套装册数'
                    // },
                    // {
                    //     field : 'rank',
                    //     title : '热销商品排名'
                    // },

                ] ]
            });

            // 监听查看单元格事件
            table.on('tool(productInforIndexTable)', function(obj){
                var data = obj.data;
                var event = obj.event;
                if(event === "findDetailInfo"){
                    console.log("查看详情");
                    $.post('/cms/productInfor/findDetailInfoById.json', {id:data.id}, function(ret){
                        var data = ret.data;
                        console.log(data);
                        layer.open({
                            type: 1,
                            title:'详细信息',
                            area: ['40%','50%'],
                            btn: ['关闭'],
                            btnAlign: 'c', //按钮居中
                            content:  '<div class="layui-row">'+
                                        '<div class="layui-form-item">'+
                                            '<div class="layui-inline">'+
                                                '<div class="layui-input-inline">'+
                                                    '<img class="layui-upload-img" id="pictureUrl" src="'+data.pictureUrl+'" alt="" style="width: 13.5em;height: 13.5em;"/>'+
                                                '</div>'+
                                                '</div>'+
                                                '<div class="layui-inline">'+
                                                    '<div class="layui-input-inline">'+
                                                        '<p style="width: 400px;text-indent:2em">'+data.introduction+'</p>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'
                            ,yes: function(){
                                layer.closeAll();
                            }
                        });
                    });
                }
                if (event === "purchase") {
                    console.log("购买");
                    $.post('/cms/productInfor/findDetailInfoById.json', {id:data.id}, function(ret){
                        var data = ret.data;
                        console.log(ret);
                        console.log(data);
                        layer.open({
                            type: 1,
                            title:"购买信息",
                            area: ['40%','50%'],
                            btn: ['确定','关闭'],
                            btnAlign: 'c', //按钮居中
                            // content:  '<div>'+
                            //             '<form class="layui-form layui-form-pane" id="updateForm">'+
                            //                 '<div class="layui-row">'+
                            //                 '<div class="layui-form-item">'+
                            //                 '<div class="layui-inline">'+
                            //                     '<label class="layui-form-label">绘本名称</label>'+
                            //                 '<div class="layui-input-inline">'+
                            //                     '<input type="text" name="name" class="layui-input" disabled value="'+data.name+'" style="width: 300px">'+
                            //                 '</div>'+
                            //                 '</div>'+
                            //                 '</div>'+
                            //                 '</div>'+
                            //                 '<div class="layui-row">'+
                            //                 '<div class="layui-form-item">'+
                            //                 '<div class="layui-inline">'+
                            //                     '<label class="layui-form-label">单价（元）</label>'+
                            //                 '<div class="layui-input-inline">'+
                            //                     '<input type="text" name="outPrice" class="layui-input" disabled value="'+data.outPrice+'" style="width: 300px">'+
                            //                 '</div>'+
                            //                 '</div>'+
                            //                 '</div>'+
                            //                 '</div>'+
                            //             '</form>'+
                            //            '</div>'
                            content : $('#payContent').html()
                            ,yes: function(){
                                // 异步发送到后台订单接口

                            }
                            ,btn2: function () {
                                layer.closeAll();
                            }
                        });
                    });

                }
            });

        })
    </script>
</html>