<!--# layout("/common/layout.html",{"jsBase":"/js/cms/productInfor/"}){ -->

<form class="layui-form layui-form-pane" id="purchaseForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">绘本编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="code" name="code"  value="${productInfor.code}"   class="layui-input" disabled style="width: 512px">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本名称">绘本名称</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name"  value="${productInfor.name}"   class="layui-input" disabled style="width: 512px">
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-upload">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="pictureUrl" src="${productInfor.pictureUrl}" alt="" style="width: 13.5em;height: 13.5em;"/>
                    <p id="productImgText"></p>
                </div>
                <!--<button type="button" class="layui-btn" id="productImageBtn" style="width: 13.5em;">上传图片</button>-->
            </div>
            <input type="text" id="picture" name="picture" hidden="true" lay-verify="imgVerify" value="${productInfor.picture}">
            <div class="layui-inline">
                <label class="layui-form-label">库存</label>
                <div class="layui-input-inline">
                    <input type="text" id="existStocks" name="existStocks"  value="${productInfor.existStocks}"   class="layui-input" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">单价（元）</label>
                <div class="layui-input-inline">
                    <input type="text" id="outPrice" name="price"  value="${productInfor.outPrice}"   class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="number" id="proNum" class="layui-input" value="1" placeholder="请输入数量，最少为1" lay-verify="required">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收货人</label>
                <div class="layui-input-inline">
                    <input type="text" name="clientId" class="layui-input" value="" id="clientId" lay-verify="required">
                </div>
                <span style="color: red">初级客户 9.5折  中级客户8.5折  高级客户6.5折</span>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-inline">
                    <input type="text" name="tel" class="layui-input" value="" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">付款方式</label>
                <div class="layui-input-inline">
                    <input type="radio" name="paymentMethod" value="0" title="支付宝" checked lay-filter="paymentMethod">
                    <input type="radio" name="paymentMethod" value="1" title="微信" lay-filter="paymentMethod">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收货地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="tradeLocations" class="layui-input" value="" style="width: 512px;" lay-verify="required">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">销售方式</label>
                <div class="layui-input-inline">
                    <input type="radio" name="orderFor" value="0" title="直销" checked lay-filter="orderFor">
                    <input type="radio" name="orderFor" value="1" title="代销" lay-filter="orderFor">
                </div>
                <span style="color: red">选择代销方式优惠 5% ！（发货较慢）</span>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">应付金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="paymentAmount" id="shouldPrice" class="layui-input" value="" disabled>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">实付金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="checkStatus" id="realityPrice" class="layui-input" value="" disabled>
                </div>
            </div>
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>

layui.use(['purchase','jquery'], function(){
    var productInforEdit = layui.purchase;
    productInforEdit.init();
    var $ = layui.$;
    var form = layui.form;
    //初始赋值
    var outPrice = $('#outPrice').val();
    var proNum = $('#proNum').val();
    $('#shouldPrice').val(outPrice*proNum);
    $('#realityPrice').val(outPrice*proNum);

    //输入数量改变值
    $('#proNum').blur(function () {
        var outPrice = $('#outPrice').val();
        var proNum = $('#proNum').val();
        $('#shouldPrice').val(outPrice*proNum);
        $('#realityPrice').val(outPrice*proNum);
    });
    $('#clientId').blur(function () {
        var clientId = $('#clientId').val();
        if(clientId !== null && clientId !== ''){
            $.ajax({
                url: "/cms/customerInfor/findByCode.json",
                type: "POST",
                data: {"clientId":clientId},
                success: function (rsp) {
                    if(rsp.code !== 0){
                        layer.msg("请输入正确的客户编码");
                        return;
                    }
                    var data= rsp.data;
                    var level = data.level;
                    var outPrice = $('#outPrice').val();
                    var proNum = $('#proNum').val();
                    //初级客户  9.5折
                    if(level === '0'){
                        $('#realityPrice').val(outPrice*proNum*0.95);
                    }
                    //中级客户  8.5折
                    if(level === '1'){
                        $('#realityPrice').val(outPrice*proNum*0.85);
                    }
                    //高级客户  6.5折
                    if(level === '2'){
                        $('#realityPrice').val(outPrice*proNum*0.65);
                    }
                }
            });
        }

    })

    form.on('radio(orderFor)',function (data) {
        var value = data.value;
        // console.log(value);
        // var val=$('input:radio[name="orderFor"]:checked').val();
        var realityPrice = $('#realityPrice').val();
        // 代销方式在原实付金额上再优惠5%
        if(value === '1'){
            $('#realityPrice').val(realityPrice*0.95);
        }else{
            $('#realityPrice').val(realityPrice/0.95);
            // var existStocks = $('#existStocks').val();
            // var proNum = $('#proNum').val();
            // if (existStocks < proNum) {
            //     layer.msg("库存量不足，请选择代销方式");
            //     $('input:radio[name="orderFor"]:checked').val("1");
            // }
        }
    })
});

</script>
