<!--# layout("/common/layout.html",{"jsBase":"/js/cms/warehouseWarn/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="预警时间">预警时间</label>
            <div class="layui-input-inline">
                <input type="text" id="alarmt" name="alarmt"  value="${warehouseWarn.alarmt,'yyyy-MM-dd'}"   class="layui-input input-date" disabled>
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${warehouseWarn.code}"   class="layui-input" disabled>
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="现有库存">现有库存</label>
            <div class="layui-input-inline">
                <input type="text" id="stock" name="stock"  value="${warehouseWarn.stock}"   class="layui-input" disabled>
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="0:解决 1：未解决">审核状态</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="warehouse_warn_check" 
					id="check" name="check" value="${warehouseWarn.check}" layVerify="" />
            </div>
            </div>

        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline" style="width: 512px">
                <input type="text" id="remarks" name="remarks"  value="${warehouseWarn.remarks}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="warningId" value=${warehouseWarn.warningId} />
    <input type="hidden" name="del" value=${warehouseWarn.del} />
    <input type="hidden" name="updatedBy" value="${warehouseWarn.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${warehouseWarn.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${warehouseWarn.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${warehouseWarn.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var warehouseWarnEdit = layui.edit
    warehouseWarnEdit.init();
});
</script>
