<!--# layout("/common/layout.html",{"jsBase":"/js/cms/salesOutStack/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <blockquote class="layui-elem-quote">
        基本信息
    </blockquote>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="销售单号">销售出库单号</label>
                <div class="layui-input-inline">
                    <input type="text" id="salesOutStackId" name=""  value="${salesOutStack.salesOutStackId}" class="layui-input" disabled="disabled"style="background-color: #F6F6F6" >
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="销售单号">销售单号</label>
            <div class="layui-input-inline">
                <input type="text" id="salesId" name="salesId"  value="${salesOutStack.salesId}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="绘本编码">绘本编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="code" name="code"  value="${salesOutStack.code}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number"  value="${salesOutStack.number}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="绘本单价">绘本单价</label>
                <div class="layui-input-inline">
                    <input type="text" id="price" name="price"  value="${salesOutStack.price}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="销售日期">销售日期</label>
            <div class="layui-input-inline">
                <input type="text" id="salesDate" name="salesDate"  value="${salesOutStack.salesDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="付款金额">付款金额</label>
            <div class="layui-input-inline">
                <input type="text" id="paymentAmount" name="paymentAmount"  value="${salesOutStack.paymentAmount}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="付款方式（0：支付宝 1：微信 2：银行卡）">付款方式（0：支付宝 1：微信 2：银行卡）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_out_stack_paymentmethod" 
					id="paymentMethod" name="paymentMethod" value="${salesOutStack.paymentMethod}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="客户信息">客户信息</label>
                <div class="layui-input-inline">
                    <input type="text" id="clientId" name="clientId"  value="${salesOutStack.clientId}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="销售人">销售人</label>
            <div class="layui-input-inline">
                <input type="text" id="salesBy" name="salesBy"  value="${salesOutStack.salesBy}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="送货地址">送货地址</label>
            <div class="layui-input-inline">
                <input type="text" id="deliveryAddress" name="deliveryAddress"  value="${salesOutStack.deliveryAddress}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <blockquote class="layui-elem-quote">
        审核
    </blockquote>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="审核时间">审核时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="checkDate" name="checkDate"  value="${salesOutStack.checkDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="审核状态">审核状态</label>
                <div class="layui-input-inline">
                    <layui:simpleDictSelect style='layui-input-inline' type="sales_return_status"
                                            id="checkStatus" name="checkStatus" value="${salesOutStack.checkStatus}" layVerify="" />
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="审核人">审核人</label>
                <div class="layui-input-inline">
                    <input type="text" id="checkBy" name="checkBy"  value="${salesOutStack.checkBy}"   class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="remarks"  value="${salesOutStack.remarks}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="salesOutStackId" value=${salesOutStack.salesOutStackId} />
    <input type="hidden" name="del" value=${salesOutStack.del} />
    <input type="hidden" name="updatedBy" value="${salesOutStack.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${salesOutStack.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${salesOutStack.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${salesOutStack.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['audio'], function(){
    var audio = layui.audio;
    audio.init();
});
</script>
