<!--#layout("/common/layout.html",{"jsBase":"/js/cms/salesOutStack/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="salesOutStack.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="salesOutStack.edit"  action="edit">编辑</layui:accessButton>
    <!--<layui:accessButton function="salesOutStack.del"  action="del">删除</layui:accessButton>-->
     <layui:accessButton function="salesOutStack.exportDocument"  action="exportDocument">导出</layui:accessButton>
     <layui:accessButton function="salesOutStack.importDocument"  action="importDocument">导入</layui:accessButton>
</div>

<table id="salesOutStackTable" lay-filter="salesOutStackTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
