<!--#layout("/common/layout.html",{"jsBase":"/js/cms/outboundRedist/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="outboundRedist.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="outboundRedist.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="outboundRedist.del"  action="del">删除</layui:accessButton>
     <layui:accessButton function="outboundRedist.exportDocument"  action="exportDocument">导出</layui:accessButton>
     <!--<layui:accessButton function="outboundRedist.importDocument"  action="importDocument">导入</layui:accessButton>-->
</div>

<table id="outboundRedistTable" lay-filter="outboundRedistTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
