<!--# layout("/common/layout.html",{"jsBase":"/js/cms/purchaseReturns/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" name="code" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" name="number" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" name="price" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="供货商编号">供货商编号</label>
            <div class="layui-input-inline">
                <input type="text" name="supplierId" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="采购订单单号">采购订单单号</label>
            <div class="layui-input-inline">
                <input type="text" name="orderId" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="退款方式（0：支付宝 1：微信 2：银行卡）">退款方式（0：支付宝 1：微信 2：银行卡）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="purchase_returns_refundmethod" layVerify="" 
                			id="refundMethod" name="refundMethod" value="" />
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="退款金额">退款金额</label>
            <div class="layui-input-inline">
                <input type="text" name="refundAmount" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="退货日期">退货日期</label>
            <div class="layui-input-inline">
                <input type="text" name="returnedDate" class="layui-input input-date" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="发货人">发货人</label>
            <div class="layui-input-inline">
                <input type="text" name="sender" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="审查人">审查人</label>
            <div class="layui-input-inline">
                <input type="text" name="checkBy" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="审查日期">审查日期</label>
            <div class="layui-input-inline">
                <input type="text" name="checkDate" class="layui-input input-date" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="审核状态（0：待审核 1：通过 2：拒绝）">审核状态（0：待审核 1：通过 2：拒绝）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="purchase_returns_checkstatus" layVerify="" 
                			id="checkStatus" name="checkStatus" value="" />
            </div>
            </div>
		
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">

		
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="remarks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var purchaseReturnsAdd = layui.add
    purchaseReturnsAdd.init();
});
</script>
