<!--# layout("/common/layout.html",{"jsBase":"/js/cms/purchaseReturns/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${purchaseReturns.code}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number"  value="${purchaseReturns.number}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price"  value="${purchaseReturns.price}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="供货商编号">供货商编号</label>
            <div class="layui-input-inline">
                <input type="text" id="supplierId" name="supplierId"  value="${purchaseReturns.supplierId}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="采购订单单号">采购订单单号</label>
            <div class="layui-input-inline">
                <input type="text" id="orderId" name="orderId"  value="${purchaseReturns.orderId}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="退款方式（0：支付宝 1：微信 2：银行卡）">退款方式（0：支付宝 1：微信 2：银行卡）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="purchase_returns_refundmethod" 
					id="refundMethod" name="refundMethod" value="${purchaseReturns.refundMethod}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="退款金额">退款金额</label>
            <div class="layui-input-inline">
                <input type="text" id="refundAmount" name="refundAmount"  value="${purchaseReturns.refundAmount}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="退货日期">退货日期</label>
            <div class="layui-input-inline">
                <input type="text" id="returnedDate" name="returnedDate"  value="${purchaseReturns.returnedDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="发货人">发货人</label>
            <div class="layui-input-inline">
                <input type="text" id="sender" name="sender"  value="${purchaseReturns.sender}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="审查人">审查人</label>
            <div class="layui-input-inline">
                <input type="text" id="checkBy" name="checkBy"  value="${purchaseReturns.checkBy}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="审查日期">审查日期</label>
            <div class="layui-input-inline">
                <input type="text" id="checkDate" name="checkDate"  value="${purchaseReturns.checkDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="审核状态（0：待审核 1：通过 2：拒绝）">审核状态（0：待审核 1：通过 2：拒绝）</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="purchase_returns_checkstatus" 
					id="checkStatus" name="checkStatus" value="${purchaseReturns.checkStatus}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="创建人">创建人</label>
            <div class="layui-input-inline">
                <input type="text" id="createdBy" name="createdBy"  value="${purchaseReturns.createdBy}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="创建时间">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="createdTime" name="createdTime"  value="${purchaseReturns.createdTime,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="更新人">更新人</label>
            <div class="layui-input-inline">
                <input type="text" id="updatedBy" name="updatedBy"  value="${purchaseReturns.updatedBy}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="更新时间">更新时间</label>
            <div class="layui-input-inline">
                <input type="text" id="updatedTime" name="updatedTime"  value="${purchaseReturns.updatedTime,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="删除标记{0:正常,1:已删除}">删除标记{0:正常,1:已删除}</label>
            <div class="layui-input-inline">
                <input type="text" id="del" name="del"  value="${purchaseReturns.del}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" id="remarks" name="remarks"  value="${purchaseReturns.remarks}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="returnedId" value=${purchaseReturns.returnedId} />
    <input type="hidden" name="del" value=${purchaseReturns.del} />
    <input type="hidden" name="updatedBy" value="${purchaseReturns.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${purchaseReturns.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${purchaseReturns.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${purchaseReturns.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var purchaseReturnsEdit = layui.edit
    purchaseReturnsEdit.init();
});
</script>
