<!--# layout("/common/layout.html",{"jsBase":"/js/cms/purchaseWarehouse/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="订单单号">订单单号</label>
            <div class="layui-input-inline">
                <input type="text" name="orderId" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" name="code" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" name="number" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" name="price" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="供应商编号">供应商编号</label>
            <div class="layui-input-inline">
                <input type="text" name="supplierId" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label" title="付款金额">付款金额</label>
            <div class="layui-input-inline">
                <input type="text" name="paymentAmount" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="采购日期">采购日期</label>
            <div class="layui-input-inline">
                <input type="text" name="purchaseDate" class="layui-input input-date" >
            </div>
            </div>

            <div class="layui-inline">
            <label class="layui-form-label" title="采购人">采购人</label>
            <div class="layui-input-inline">
                <input type="text" name="buyerBy" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="remarks" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var purchaseWarehouseAdd = layui.add
    purchaseWarehouseAdd.init();
});
</script>
