<!--# layout("/common/layout.html",{"jsBase":"/js/cms/purchaseWarehouse/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="订单单号">订单单号</label>
            <div class="layui-input-inline">
                <input type="text" id="orderId" name="orderId"  value="${purchaseWarehouse.orderId}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${purchaseWarehouse.code}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number"  value="${purchaseWarehouse.number}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price"  value="${purchaseWarehouse.price}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="供应商编号">供应商编号</label>
            <div class="layui-input-inline">
                <input type="text" id="supplierId" name="supplierId"  value="${purchaseWarehouse.supplierId}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="付款金额">付款金额</label>
            <div class="layui-input-inline">
                <input type="text" id="paymentAmount" name="paymentAmount"  value="${purchaseWarehouse.paymentAmount}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="采购日期">采购日期</label>
            <div class="layui-input-inline">
                <input type="text" id="purchaseDate" name="purchaseDate"  value="${purchaseWarehouse.purchaseDate,"yyyy-MM-dd"}"   class="layui-input input-date" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="采购人">采购人</label>
            <div class="layui-input-inline">
                <input type="text" id="buyerBy" name="buyerBy"  value="${purchaseWarehouse.buyerBy}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="备注">备注</label>
            <div class="layui-input-inline">
                <input type="text" id="remarks" name="remarks"  value="${purchaseWarehouse.remarks}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="enterId" value=${purchaseWarehouse.enterId} />
    <input type="hidden" name="del" value=${purchaseWarehouse.del} />
    <input type="hidden" name="updatedBy" value="${purchaseWarehouse.updatedBy}"/>
    <input type="hidden" name="createdBy" value="${purchaseWarehouse.createdBy}"/>
    <input type="hidden" name="updatedTime" value="${purchaseWarehouse.updatedTime,"yyyy-MM-dd"}"/>
    <input type="hidden" name="createdTime" value="${purchaseWarehouse.createdTime,"yyyy-MM-dd"}"/>
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var purchaseWarehouseEdit = layui.edit
    purchaseWarehouseEdit.init();
});
</script>
