<!--# layout("/common/layout.html",{"jsBase":"/js/cms/customerInfor/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label" title="客户编号">客户编号</label>
            <div class="layui-input-inline">
                <input type="text" name="clientCode" class="layui-input" disabled="disabled" style="background-color: #F6F6F6" placeholder="后台系统自动生成">
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="客户名称">客户名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="性别（0:男；1：女；2：未知）">性别</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="customer_infor_sex" layVerify="" 
                			id="sex" name="sex" value="" />
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="电话">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="tel" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="邮箱">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="积分">积分</label>
            <div class="layui-input-inline">
                <input type="text" name="intergral" class="layui-input" disabled="disabled" style="background-color: #F6F6F6" placeholder="后台系统自动计算">
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="级别（0：初；1：中；2；高）">级别</label>
            <div class="layui-input-inline">
                <input type="text" name="level" class="layui-input" disabled="disabled" style="background-color: #F6F6F6" placeholder="后台系统根据订单自动计算">
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="备注">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="remarks" class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var customerInforAdd = layui.add
    customerInforAdd.init();
});
</script>
