<!--#layout("/common/layout.html",{"jsBase":"/js/cms/purchaseOrder/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="purchaseOrder.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="purchaseOrder.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="purchaseOrder.del"  action="del">删除</layui:accessButton>
     <layui:accessButton function="purchaseOrder.exportDocument"  action="exportDocument">导出</layui:accessButton>
     <layui:accessButton function="purchaseOrder.importDocument"  action="importDocument">导入</layui:accessButton>
     <layui:accessButton function="purchaseOrder.importDocument"  action="importDocument2">完成导入</layui:accessButton>
</div>

<table id="purchaseOrderTable" lay-filter="purchaseOrderTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
