<!--# layout("/common/layout.html",{"jsBase":"/js/cms/salesOrderBak/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本编码">绘本编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${salesOrderBak.code}"   class="layui-input">
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本数量">绘本数量</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number"  value="${salesOrderBak.number}"   class="layui-input">
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="绘本单价">绘本单价</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price"  value="${salesOrderBak.price}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="客户编码">客户编码</label>
            <div class="layui-input-inline">
                <input type="text" id="clientId" name="clientId"  value="${salesOrderBak.clientId}"   class="layui-input">
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="销售日期">销售日期</label>
            <div class="layui-input-inline">
                <input type="text" id="salesDate" name="salesDate"  value="${salesOrderBak.salesDate,"yyyy-MM-dd"}"   class="layui-input input-date">
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="应付款金额">应付款金额</label>
            <div class="layui-input-inline">
                <input type="text" id="paymentAmount" name="paymentAmount"  value="${salesOrderBak.paymentAmount}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="销售人">销售人</label>
            <div class="layui-input-inline">
                <input type="text" id="salesBy" name="salesBy" value="${salesOrderBak.salesBy}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="付款方式">付款方式</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_paymentmethod"
                                        id="paymentMethod" name="paymentMethod" value="${salesOrderBak.paymentMethod}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="交货地点">交货地点</label>
            <div class="layui-input-inline">
                <input type="text" id="tradeLocations" name="tradeLocations" value="${salesOrderBak.tradeLocations}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label" title="销售方式">0:直销 1：代销</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_orderfor"
                                         id="orderFor" name="orderFor" value="${salesOrderBak.orderFor}" layVerify="" />
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label" title="完成状态">完成状态</label>
            <div class="layui-input-inline">
                <layui:simpleDictSelect style='layui-input-inline' type="sales_order_finishedstatus"
                                        id="finishedStatus" name="finishedStatus" value="${salesOrderBak.finishedStatus}" layVerify="" />
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="实付款金额">实付款金额</label>
                <div class="layui-input-inline">
                    <input type="text" id="checkStatus" name="checkStatus"  value="${salesOrderBak.checkStatus}"   class="layui-input" >
                </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="salesId" value=${salesOrderBak.salesId} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var salesOrderBakEdit = layui.edit
    salesOrderBakEdit.init();
});
</script>
